<div class="welcome-page">
    <div class="row page-header">
        <div class="col-xs-12 text-center">
            <img src="~/logo.png" class="img-responsive center-block" alt="Wired Brain Coffee Logo"/>
            <h1>
                Welcome to the Wired Brain Coffee Authorization Server
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <p>
                Click <a href="~/grants">here</a> to manage your authorized applications.
            </p>
            <p>
                Click <a href="~/Account/Login">here</a> to manually log in.
            </p>
        </div>
    </div>
</div>
