@model string

<div class="row">
    <div class="col-xs-12">
        <h1>Integrate with Wired Brain Coffee</h1>
        <p>Track your Wired Brain Coffee rewards account from within Unground!</p>
        <a class="btn btn-primary" asp-action="Authorize">Authorize</a>
        <a class="btn btn-primary" asp-action="CallApi">Call Rewards API</a>
        <h3>Output</h3>
        <pre>@Model</pre>
    </div>
</div>
